.TodoItem {
    border-bottom: 1px solid #CCC;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.TodoItem div:first-child {
    flex-grow: 1;
}

.completed {
    text-decoration: line-through;
}